In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("PCE-04-Pandas.ipynb")

# PCE 04: Pandas

### **_NOTE:_**  Run this cell before you start coding to import necessary libraries

In [ ]:
# DO NOT MODIFY, RUN THE CELL BEFORE YOU CODE
import pandas as pd
import io

## Q1a: Create a dataframe from a list of dictionaries

Create a dataframe from a list of dictionaries.

Your function `list_to_dataframe` should take this parameter:
- `data` &ndash; a list of dictionary entries (see below)

And return:
- `df` a pandas DataFrame

For the data given below, you should see the following output when you evaluate `df`.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>classcode</th>
      <th>enrolled</th>
      <th>passed</th>
      <th>intro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>INST135</td>
      <td>75</td>
      <td>72</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>1</th>
      <td>INST201</td>
      <td>150</td>
      <td>148</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>2</th>
      <td>INST311</td>
      <td>60</td>
      <td>40</td>
      <td>no</td>
    </tr>
    <tr>
      <th>3</th>
      <td>INST314</td>
      <td>100</td>
      <td>78</td>
      <td>no</td>
    </tr>
    <tr>
      <th>4</th>
      <td>INST326</td>
      <td>140</td>
      <td>110</td>
      <td>no</td>
    </tr>
    <tr>
      <th>5</th>
      <td>INST335</td>
      <td>70</td>
      <td>56</td>
      <td>no</td>
    </tr>
    <tr>
      <th>6</th>
      <td>INST126</td>
      <td>75</td>
      <td>71</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>7</th>
      <td>INST326</td>
      <td>140</td>
      <td>117</td>
      <td>no</td>
    </tr>
  </tbody>
</table>

In [ ]:
...

# test your function here
data = [
 {'classcode': 'INST135', 'enrolled': 75, 'passed': 72, 'intro': 'yes'},
 {'classcode': 'INST201', 'enrolled': 150, 'passed': 148, 'intro': 'yes'},
 {'classcode': 'INST311', 'enrolled': 60, 'passed': 40, 'intro': 'no'},
 {'classcode': 'INST314', 'enrolled': 100, 'passed': 78, 'intro': 'no'},
 {'classcode': 'INST326', 'enrolled': 140, 'passed': 110, 'intro': 'no'},
 {'classcode': 'INST335', 'enrolled': 70, 'passed': 56, 'intro': 'no'},
 {'classcode': 'INST126', 'enrolled': 75, 'passed': 71, 'intro': 'yes'},
 {'classcode': 'INST326', 'enrolled': 140, 'passed': 117, 'intro': 'no'}
]
df = list_to_dataframe(data)
df

The cell below is an autograder cell, run it to check if your solution is correct.

In [ ]:
grader.check("q1a")

## Q1b: Load data from a csv file into a dataframe
 
In the folder for this PCE, there is a `.csv` file that contains the exact same data as Q1a. The filename is `Q1b_input1.csv`

Your function `csv_to_dataframe` should take this parameter:
- `fpath` &ndash; the name of the file

And it should return:
- `df` &ndash; a Pandas DataFrame

You should see the exact same input as Q1a.

In [ ]:
...

# Test yor function here
fname = 'Q1b_input1.csv'
df = csv_to_dataframe(fname)
df

The cell below is an autograder cell, run it to check if your solution is correct.

In [ ]:
grader.check("q1b")

## Q2: Access columns in a dataframe

Access columns in a dataframe.

Your function `access_df_column` should take these parameters:
- `df` &ndash; a pandas DataFrame
- `col` &ndash; the name of the column you want to access

And return:
- `result` &ndash; a pandas Series with the column of interest

For example, if `df` is the DataFrame from question Q1a, then `access_df_column(df, 'classcode')` should yield this value:
```
0    INST135
1    INST201
2    INST311
3    INST314
4    INST326
5    INST335
6    INST126
7    INST326
Name: classcode, dtype: object
```

In [ ]:
...

# Test your function here
_data = """
classcode,enrolled,passed,intro
INST135,75,72,yes
INST201,150,148,yes
INST311,60,40,no
INST314,100,78,no
INST326,140,110,no
INST335,70,56,no
INST126,75,71,yes
INST326,140,117,no
"""
df = pd.read_csv(io.StringIO(_data))
columndata = access_df_column(df, 'enrolled')
columndata

The cell below is an autograder cell, run it to check if your solution is correct.

In [ ]:
grader.check("q2")

## Q3: Sort a dataframe in ascending/descending order, based on a column

Sort a dataframe in ascending/descending order, based on a column.

Your function `sort_df_on_column` should take the three parameters:
- `df` &ndash; a pandas DataFrame
- `col` &ndash; the name of the column you want to sort by
- `ascending` &ndash; a boolean telling whether to sort in ascending (`True`) or descending (`False`) order in the column

And it should return:
- `result` &ndash; a new pandas DataFrame that is sorted in ascending/descending order on the desired column

For example, if `df` holds the same DataFrame from question Q1a, then from `sort_df_on_column(df, 'passed', False)` should yield this dataframe (notice how the rows are sorted by the `passed` column in *descending* order):

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>classcode</th>
      <th>enrolled</th>
      <th>passed</th>
      <th>intro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>INST311</td>
      <td>60</td>
      <td>40</td>
      <td>no</td>
    </tr>
    <tr>
      <th>5</th>
      <td>INST335</td>
      <td>70</td>
      <td>56</td>
      <td>no</td>
    </tr>
    <tr>
      <th>6</th>
      <td>INST126</td>
      <td>75</td>
      <td>71</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>0</th>
      <td>INST135</td>
      <td>75</td>
      <td>72</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>3</th>
      <td>INST314</td>
      <td>100</td>
      <td>78</td>
      <td>no</td>
    </tr>
    <tr>
      <th>4</th>
      <td>INST326</td>
      <td>140</td>
      <td>110</td>
      <td>no</td>
    </tr>
    <tr>
      <th>7</th>
      <td>INST326</td>
      <td>140</td>
      <td>117</td>
      <td>no</td>
    </tr>
    <tr>
      <th>1</th>
      <td>INST201</td>
      <td>150</td>
      <td>148</td>
      <td>yes</td>
    </tr>
  </tbody>
</table>

In [ ]:
...

# Test your function here
_data = """
classcode,enrolled,passed,intro
INST135,75,72,yes
INST201,150,148,yes
INST311,60,40,no
INST314,100,78,no
INST326,140,110,no
INST335,70,56,no
INST126,75,71,yes
INST326,140,117,no
"""
df = pd.read_csv(io.StringIO(_data))
sorted_df = sort_df_on_column(df, 'passed', False)
sorted_df

The cell below is an autograder cell, run it to check if your solution is correct.

In [ ]:
grader.check("q3")

## Q4: Get data for either intro or non-intro classes

Get data for either intro or non-intro classes.

Your function `filter_df_by_intro()` should take these parameters:
- `df` &ndash; a pandas DataFrame;
- `class_type` &ndash; a string telling whether you want intro courses (the value will be `"intro"`) or not (`"non-intro"`).

And it should return:
- `result` &ndash; a new pandas DataFrame that contains data from only intro or non-intro courses

For example, if `df` holds the same DataFrame from question Q1a, `filter_df_by_intro(df, 'non-intro')` should yield this dataframe (notice how we only have data for non-intro courses):

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>classcode</th>
      <th>enrolled</th>
      <th>passed</th>
      <th>intro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>INST126</td>
      <td>75</td>
      <td>71</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>0</th>
      <td>INST135</td>
      <td>75</td>
      <td>72</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>1</th>
      <td>INST201</td>
      <td>150</td>
      <td>148</td>
      <td>yes</td>
    </tr>
  </tbody>
</table>

In [ ]:
...

# Test your function here
_data = """
classcode,enrolled,passed,intro
INST135,75,72,yes
INST201,150,148,yes
INST311,60,40,no
INST314,100,78,no
INST326,140,110,no
INST335,70,56,no
INST126,75,71,yes
INST326,140,117,no
"""
df = pd.read_csv(io.StringIO(_data))
filtered = filter_df_by_intro(df, 'intro')
filtered

The cell below is an autograder cell, run it to check if your solution is correct.

In [ ]:
grader.check("q4")

## Q5: Compute basic statistics for numerical columns

Compute basic statistics for numerical columns.

Your function should compute the following statistics from a column:
1. mean
2. median
3. standard deviation
4. sum
5. min
6. max

(_**NOTE**_: don't call this function on columns with non-numeric data! You can optionally include a check for whether the column gives numeric data, but we won't be checking for this)

Your function `summarize_col()` should take these parameters:
- `df` &ndash; a pandas DataFrame
- `col` &ndash; which column (with numeric data) we want to compute statistics for
- `stat` &ndash; what kind of statistic we want: should accept these six types: `"mean"`, `"median"`, `"std"`, `"sum"`, `"min"`, and `"max"`.

And it should return:
- `result` &ndash; the value of the desired statistic for the column

For example, if variable `df` holds the same data frame as in question Q1a, then:
- `summarize_col(df, 'enrolled', 'min')` should return `60`
- `summarize_col(df, 'passed', 'mean')` should return `86.5`

In [ ]:
...

# Test your function here
_data = """
classcode,enrolled,passed,intro
INST135,75,72,yes
INST201,150,148,yes
INST311,60,40,no
INST314,100,78,no
INST326,140,110,no
INST335,70,56,no
INST126,75,71,yes
INST326,140,117,no
"""
df = pd.read_csv(io.StringIO(_data))
result = summarize_col(df, "enrolled", "min")
result

The cell below is an autograder cell, run it to check if your solution is correct.

In [ ]:
grader.check("q5")

## Q6: Extract information about the level of each course

Create a function that creates a new column (`classlevel`) in your dataframe with the level of each course. 

For example, INST201 is a 200-level class (`classlevel = 200`). 

You will first need to define a function `level` that takes one parameter:
- `code` &ndash; a classcode entry in the dataframe (that is, the value in a single &ldquo;cell&rdquo;)

And return:
- `result` &ndash; the level as an integer value (100, 200, 300, etc.)

*Hint*: There are a number of valid way to solve this, including string parsing, dictionaries, and conditionals.

Then you need to define a function `df_course_level` that takes one parameter:
- `df` &ndash; a pandas DataFrame

And it should return:
- `df_result` &ndash; a pandas DataFrame with a new `classlevel` column.

For example, if variable `df` holds the same data frame as in question Q1a, then `df_course_level(df)` should return the following data frame (_notice the new column at the end_)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>classcode</th>
      <th>enrolled</th>
      <th>passed</th>
      <th>intro</th>
      <th>classlevel</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>INST135</td>
      <td>75</td>
      <td>72</td>
      <td>yes</td>
      <td>100</td>
    </tr>
    <tr>
      <th>1</th>
      <td>INST201</td>
      <td>150</td>
      <td>148</td>
      <td>yes</td>
      <td>200</td>
    </tr>
    <tr>
      <th>2</th>
      <td>INST311</td>
      <td>60</td>
      <td>40</td>
      <td>no</td>
      <td>300</td>
    </tr>
    <tr>
      <th>3</th>
      <td>INST314</td>
      <td>100</td>
      <td>78</td>
      <td>no</td>
      <td>300</td>
    </tr>
    <tr>
      <th>4</th>
      <td>INST326</td>
      <td>140</td>
      <td>110</td>
      <td>no</td>
      <td>300</td>
    </tr>
    <tr>
      <th>5</th>
      <td>INST335</td>
      <td>70</td>
      <td>56</td>
      <td>no</td>
      <td>300</td>
    </tr>
    <tr>
      <th>6</th>
      <td>INST126</td>
      <td>75</td>
      <td>71</td>
      <td>yes</td>
      <td>100</td>
    </tr>
    <tr>
      <th>7</th>
      <td>INST326</td>
      <td>140</td>
      <td>117</td>
      <td>no</td>
      <td>300</td>
    </tr>
  </tbody>
</table>

In [ ]:
...

# Test your function here
_data = """
classcode,enrolled,passed,intro
INST135,75,72,yes
INST201,150,148,yes
INST311,60,40,no
INST314,100,78,no
INST326,140,110,no
INST335,70,56,no
INST126,75,71,yes
INST326,140,117,no
"""
df = pd.read_csv(io.StringIO(_data))
df = df_course_level(df)
df

The cell below is an autograder cell, run it to check if your solution is correct.

In [ ]:
grader.check("q6")

## Q7: Compute the passing rate for each class

Create a function that creates a new column (called `passingrate`) in your dataframe that contains information about the passing rate of each course. This is the ratio of the number of students who `passed` to the number of students who are `enrolled` in a given course (e.g., for `INST135`, 72 passed out of 75 enrolled, so the passing rate should be 0.96).

You will first need to define a function called `passing_rate` that takes one parameter:
- `row` &ndash; a DataFrame row (it is similar to a dictionary)

And it should return:
- `result` &ndash; the ratio of `passed` to `enrolled` values for that row

Then, you need to define a function called `compute_passing_rate`. It should take one parameter:
- `df` &ndash; a pandas DataFrame 

And it should return:
- `result` &ndash; a pandas DataFrame with the `passingrate` column filled with appropriate values

For example, if variable `df` holds the same data frame from question Q6, then `compute_passing_rate(df)` should return the following data frame (_note the additional column at the end_):

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>classcode</th>
      <th>enrolled</th>
      <th>passed</th>
      <th>intro</th>
      <th>classlevel</th>
      <th>passingrate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>INST135</td>
      <td>75</td>
      <td>72</td>
      <td>yes</td>
      <td>100</td>
      <td>0.960000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>INST201</td>
      <td>150</td>
      <td>148</td>
      <td>yes</td>
      <td>200</td>
      <td>0.986667</td>
    </tr>
    <tr>
      <th>2</th>
      <td>INST311</td>
      <td>60</td>
      <td>40</td>
      <td>no</td>
      <td>300</td>
      <td>0.666667</td>
    </tr>
    <tr>
      <th>3</th>
      <td>INST314</td>
      <td>100</td>
      <td>78</td>
      <td>no</td>
      <td>300</td>
      <td>0.780000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>INST326</td>
      <td>140</td>
      <td>110</td>
      <td>no</td>
      <td>300</td>
      <td>0.785714</td>
    </tr>
    <tr>
      <th>5</th>
      <td>INST335</td>
      <td>70</td>
      <td>56</td>
      <td>no</td>
      <td>300</td>
      <td>0.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>INST126</td>
      <td>75</td>
      <td>71</td>
      <td>yes</td>
      <td>100</td>
      <td>0.946667</td>
    </tr>
    <tr>
      <th>7</th>
      <td>INST326</td>
      <td>140</td>
      <td>117</td>
      <td>no</td>
      <td>300</td>
      <td>0.835714</td>
    </tr>
  </tbody>
</table>

In [ ]:
...

# Test your function here
_data = """
classcode,enrolled,passed,intro,classlevel
INST135,75,72,yes,100
INST201,150,148,yes,200
INST311,60,40,no,300
INST314,100,78,no,300
INST326,140,110,no,300
INST335,70,56,no,300
INST126,75,71,yes,100
INST326,140,117,no,300
"""
df = pd.read_csv(io.StringIO(_data))
df = compute_passing_rate(df)
df

The cell below is an autograder cell, run it to check if your solution is correct.

In [ ]:
grader.check("q7")

## Q8: Summarize passing rate by course level in a new dataframe

Create a function that summarizes the passing rate (mean and number of classes) by class level.

Your function `pass_by_level` should take one parameter:
- `df` &ndash; a pandas DataFrame

And it should return:
- `summarize` &ndash; a pandas DataFrame that summarizes passing rate (mean and number of classes) by classlevel. 

You will need to make sure the names of the columns are `passingrate` (for mean passing rate) and `numclasses` (number of classes), like in the example below. You should also make sure that `classlevel` is a column (you need to do something to the initial dataframe to accomplish this).

For example, if variable `df` holds the same data frame from question Q7, then `summarize(df)` should return the following data frame:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>classlevel</th>
      <th>passingrate</th>
      <th>numclasses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>100</td>
      <td>0.953333</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>200</td>
      <td>0.986667</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>300</td>
      <td>0.773619</td>
      <td>5</td>
    </tr>
  </tbody>
</table>

In [ ]:
...

# Test your function here
_data = """
classcode,enrolled,passed,intro,classlevel,passingrate
INST135,75,72,yes,100,0.96
INST201,150,148,yes,200,0.9866666666666667
INST311,60,40,no,300,0.6666666666666666
INST314,100,78,no,300,0.78
INST326,140,110,no,300,0.7857142857142857
INST335,70,56,no,300,0.8
INST126,75,71,yes,100,0.9466666666666667
INST326,140,117,no,300,0.8357142857142857
"""
df = pd.read_csv(io.StringIO(_data))
result = pass_by_level(df)
result

When you're ready run the cell below to get feedback on your answer.

In [ ]:
grader.check("q8")

### **_NOTE:_**  Do not forget to run this cell

In [ ]:
!jupyter nbconvert --to script PCE-04-Pandas.ipynb

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit.

In [ ]:
grader.export(pdf=False, force_save=True, run_tests=True, files=['PCE-04-Pandas.py'])