# Basic Pandas

In this class activity, we will revisit the college admission activity from last week, and we will explore how to use pandas for basic data analysis tasks. We will create a dataframe, compute new columns from the existing columns, and finally identify a subset of admission candidates.

In [ ]:
# Write down your roles
DRIVER = ""
NAVIGATOR = ""

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

# Reference -- keep this open while working on the tasks!

* [The 10-minute Intro to Pandas](https://pandas.pydata.org/docs/user_guide/10min.html)
* [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

## Task A: Creating a data frame from data stored as Python lists 

Write a new function called `createdf` that takes five parameters:
1. `Student` -- list of student names (string)
2. `SAT` -- list of SAT scores (int)
3. `GPA` -- list of GPA scores (float)
4. `Interest` -- list of student's interest score (int)
5. `High_School_Quality` -- list of quality of the student's high schools (int)

Using the `pd.DataFrame` function from pandas, your function should create a data frame labaled by student names. 

Your data frame should look like the following:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SAT</th>
      <th>GPA</th>
      <th>Interest</th>
      <th>High School Quality</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Abbess Horror</th>
      <td>1300</td>
      <td>3.61</td>
      <td>10</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Adele Hawthorne</th>
      <td>1400</td>
      <td>3.67</td>
      <td>0</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Adelicia von Krupp</th>
      <td>900</td>
      <td>4.00</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Adriana Soria</th>
      <td>1360</td>
      <td>3.19</td>
      <td>0</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Adriana Princess</th>
      <td>1180</td>
      <td>2.93</td>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Adrienne Frost</th>
      <td>1180</td>
      <td>3.00</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Agatha Timly</th>
      <td>1140</td>
      <td>2.98</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Agent Anesthesia</th>
      <td>1190</td>
      <td>3.08</td>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Aghanne Buffalo</th>
      <td>1400</td>
      <td>3.39</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Aguja Buffalo</th>
      <td>1310</td>
      <td>3.92</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Akira Kiamata</th>
      <td>1310</td>
      <td>4.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Alaisa Ruatha Pethnan</th>
      <td>1100</td>
      <td>3.22</td>
      <td>10</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Alchemist Student</th>
      <td>1150</td>
      <td>4.60</td>
      <td>9</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Aldebron James</th>
      <td>1220</td>
      <td>3.08</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th>Aleksandra Nikolaevna</th>
      <td>1340</td>
      <td>4.00</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Alflyse Freshman</th>
      <td>1400</td>
      <td>3.44</td>
      <td>10</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Alice Hayes</th>
      <td>1000</td>
      <td>4.20</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Alice Nugent</th>
      <td>950</td>
      <td>2.56</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Alice Tremaine</th>
      <td>1420</td>
      <td>3.75</td>
      <td>10</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Alizon Baunacha</th>
      <td>1350</td>
      <td>3.81</td>
      <td>7</td>
      <td>7</td>
    </tr>
  </tbody>
</table>

In [ ]:
# The data are stored in these lists
student20=['Abbess Horror', 'Adele Hawthorne', 'Adelicia von Krupp', 'Adriana Soria', 
           'Adriana Princess', 'Adrienne Frost', 'Agatha Timly', 'Agent Anesthesia', 
           'Aghanne Buffalo', 'Aguja Buffalo', 'Akira Kiamata', 'Alaisa Ruatha Pethnan', 
           'Alchemist Student', 'Aldebron James', 'Aleksandra Nikolaevna', 'Alflyse Freshman', 
           'Alice Hayes', 'Alice Nugent', 'Alice Tremaine', 'Alizon Baunacha']

sat20=[1300, 1400, 900, 1360, 1180, 1180, 1140, 1190, 1400, 1310, 
       1310, 1100, 1150, 1220, 1340, 1400, 1000, 950, 1420, 1350]

gpa20=[3.61, 3.67, 4.0, 3.19, 2.93, 3.0, 2.98, 3.08, 3.39, 3.92, 
       4.0, 3.22, 4.6, 3.08, 4.0, 3.44, 4.2, 2.56, 3.75, 3.81]

interest20=[10, 0, 5, 0, 2, 6, 10, 1, 10, 8, 
            1, 10, 9, 7, 2, 10, 3, 5, 10, 7]

high_school_quality20=[7, 9, 2, 9, 7, 7, 8, 7, 9, 4, 
                       1, 3, 2, 10, 4, 2, 3, 7, 1, 7]

In [ ]:
import pandas as pd

# Your code here!
...

createdf(Student=student20, SAT=sat20, GPA=gpa20, Interest=interest20, 
         High_School_Quality=high_school_quality20)

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

In [ ]:
# It is a good idea to switch now; write down your roles again. 
DRIVER = ""
NAVIGATOR = ""

## Task B: Compute admission scores 

Write a function`compute_score_col` that takes one parameter called `df` (a data frame created with the functions before).

Your function should calculate an overall score for each student and add it and return a data frame with a new column called `Score`.

The score is based on the following weights:  

| Variable | Weight |
| --- | --- |
| GPA | 40% |
| SAT | 30% |
| Interest | 30% |


To make this work, you will also need to normalize both GPA and SAT so that they are also on a 0 to 10 scale. 

To do this, multiply the GPA by 2, and divide the SAT score by 160.

For example, the scores of the first three students should be:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SAT</th>
      <th>GPA</th>
      <th>Interest</th>
      <th>High School Quality</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Abbess Horror</th>
      <td>1300.0</td>
      <td>3.61</td>
      <td>10.0</td>
      <td>7.0</td>
      <td>7.7255</td>
    </tr>
    <tr>
      <th>Adele Hawthorne</th>
      <td>1400.0</td>
      <td>3.67</td>
      <td>0.0</td>
      <td>9.0</td>
      <td>7.3610</td>
    </tr>
    <tr>
      <th>Adelicia von Krupp</th>
      <td>900.0</td>
      <td>4.00</td>
      <td>5.0</td>
      <td>2.0</td>
      <td>5.7875</td>
    </tr>
  </tbody>
</table>

In [ ]:
# Your code here!
...

# This will test your function with a smaller data frame
test_df = pd.DataFrame.from_dict({
    'Abbess Horror': {
        'SAT': 1300, 'GPA': 3.61, 'Interest': 10, 'High School Quality': 7
    },
    'Adele Hawthorne': {
        'SAT': 1400, 'GPA': 3.67, 'Interest': 0, 'High School Quality': 9
    },
    'Adelicia von Krupp': {
        'SAT': 900, 'GPA': 4.0, 'Interest': 5, 'High School Quality': 2
    }
}, orient="index")

compute_score_col(test_df)

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

In [ ]:
# It is a good idea to switch now; write down your roles again. 
DRIVER = ""
NAVIGATOR = ""

## Task C: Finding outliers


Consider ways that this algorithm might systematically miss certain kinds of edge cases. 

For example, what if a student has a 0 for demonstrated interest because they donâ€™t use social media or have access to a home computer? 

What if a student has a very high GPA but their SAT score is low enough to bring their score down; could this mean that they had a single bad test taking day? 

For this, we look for outliers.

Write a new function called `compute_outlier_col` that takes one parameter called `df` (the data frame from the previous task) and adds a new column to it called `Is_outlier` based on the following two conditions:

1. Demonstrated interest scores of 0,
2. A normalized GPA that is more than 2 points higher than the normalized SAT score,

If either of these conditions is true, and their admission score is less than 8.0, the student is an outlier (`Is_outlier` should be `True`), otherwise it is not (`Is_outlier` should be `False`).

For example, the "outlier" status of the first three students should be:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SAT</th>
      <th>GPA</th>
      <th>Interest</th>
      <th>High School Quality</th>
      <th>Score</th>
      <th>Is_outlier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Abbess Horror</th>
      <td>1300.0</td>
      <td>3.61</td>
      <td>10.0</td>
      <td>7.0</td>
      <td>7.7255</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Adele Hawthorne</th>
      <td>1400.0</td>
      <td>3.67</td>
      <td>0.0</td>
      <td>9.0</td>
      <td>7.3610</td>
      <td>True</td>
    </tr>
    <tr>
      <th>Adelicia von Krupp</th>
      <td>900.0</td>
      <td>4.00</td>
      <td>5.0</td>
      <td>2.0</td>
      <td>5.7875</td>
      <td>True</td>
    </tr>
  </tbody>
</table>

In [ ]:
# Your code here!
...

# Define sample data and scores
test_df = pd.DataFrame.from_dict({
    'Abbess Horror': {
        'SAT': 1300.0, 'GPA': 3.61, 'Interest': 10.0, 'High School Quality': 7.0, 'Score': 7.7255
    }, 
    'Adele Hawthorne': {
        'SAT': 1400.0, 'GPA': 3.67, 'Interest': 0.0, 'High School Quality': 9.0, 'Score': 7.361
    }, 
    'Adelicia von Krupp': {
        'SAT': 900.0, 'GPA': 4.0, 'Interest': 5.0, 'High School Quality': 2.0, 'Score': 5.7875000000000005
    }
}, orient="index")


### BEGIN SOLUTION
compute_outlier_col(test_df)
### END SOLUTION

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

In [ ]:
# It is a good idea to switch now; write down your roles again. 
DRIVER = ""
NAVIGATOR = ""

## Bonus Task: Putting everything together.

The full dataset is provided in the file `./22-basic-pandas-practice.csv`. 

Your main function should take two parameters: 
* `filename` (`str`) the name of the CSV file. 
* `min_score` (`float`) the minimum score threshold for review.

Your function should do the following steps:

1. It should first read the full data (using the `read.csv` function from pandas) and store the data frame in a variable; Make sure the rows are labeled by the student name. (See the [Pandas documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas-read-csv) for how to do so with `read_csv`.)
2. It should then call `compute_score_col` and `compute_outlier_col` and pass the data frame to them;
3. Finally, it should identify the subset of students that have either a score above `min_score` OR are outliers, and return that subset in a new data frame.

For this last step, you will need to use [boolean indexing](https://pandas.pydata.org/docs/user_guide/10min.html#boolean-indexing).

For example, the data frame with the first three students to review should look like:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SAT</th>
      <th>GPA</th>
      <th>Interest</th>
      <th>High School Quality</th>
      <th>Score</th>
      <th>Is_outlier</th>
    </tr>
    <tr>
      <th>Student</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Betty Sumitro</th>
      <td>1560</td>
      <td>3.85</td>
      <td>10</td>
      <td>8</td>
      <td>8.60500</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Black Knight</th>
      <td>1460</td>
      <td>3.69</td>
      <td>9</td>
      <td>10</td>
      <td>8.58950</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Bridget Malone</th>
      <td>1410</td>
      <td>4.00</td>
      <td>7</td>
      <td>10</td>
      <td>8.54375</td>
      <td>False</td>
    </tr>
  </tbody>
</table>

In [ ]:
# You code here!
...

main(filename="./22-basic-pandas-practice.csv", min_score=7)

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

# Solutions

## Task A

In [ ]:
import pandas as pd

### BEGIN SOLUTION
def createdf(Student, SAT, GPA, Interest, High_School_Quality):
    data = {
        'SAT': SAT,
        'GPA': GPA,
        'Interest': Interest,
        'High School Quality': High_School_Quality
    }
    df = pd.DataFrame(data, index=Student)
    return df
### END SOLUTION

createdf(Student=student20, SAT=sat20, GPA=gpa20, Interest=interest20, 
         High_School_Quality=high_school_quality20)

## Task B

In [ ]:
### BEGIN SOLUTION
def compute_score_col(df):
    df['Score'] = \
          (0.4 * df["GPA"] * 2) \
        + (0.3 * df["SAT"] / 160) \
        + (0.2 * df["High School Quality"]) \
        + (0.1 * df["Interest"])
    return df
### END SOLUTION

# This will test your function with a smaller data frame
test_df = pd.DataFrame.from_dict({
    'Abbess Horror': {
        'SAT': 1300, 'GPA': 3.61, 'Interest': 10, 'High School Quality': 7
    },
    'Adele Hawthorne': {
        'SAT': 1400, 'GPA': 3.67, 'Interest': 0, 'High School Quality': 9
    },
    'Adelicia von Krupp': {
        'SAT': 900, 'GPA': 4.0, 'Interest': 5, 'High School Quality': 2
    }
}, orient="index")

compute_score_col(test_df)

## Task C

In [ ]:
### BEGIN SOLUTION
def compute_outlier_col(df):
    df['Is_outlier'] = (df['Interest'] == 0) | ((df['GPA'] * 2) > (df['SAT'] / 160 + 2)) & (df['Score'] < 8.0)
    return df
### END SOLUTION

# Define sample data and scores
test_df = pd.DataFrame.from_dict({
    'Abbess Horror': {
        'SAT': 1300.0, 'GPA': 3.61, 'Interest': 10.0, 'High School Quality': 7.0, 'Score': 7.7255
    }, 
    'Adele Hawthorne': {
        'SAT': 1400.0, 'GPA': 3.67, 'Interest': 0.0, 'High School Quality': 9.0, 'Score': 7.361
    }, 
    'Adelicia von Krupp': {
        'SAT': 900.0, 'GPA': 4.0, 'Interest': 5.0, 'High School Quality': 2.0, 'Score': 5.7875000000000005
    }
}, orient="index")


### BEGIN SOLUTION
compute_outlier_col(test_df)
### END SOLUTION

## Bonus Task

In [ ]:
### BEGIN SOLUTION        
def main(filename, min_score):
    df = pd.read_csv(filename, index_col=0)
    df = compute_score_col(df)
    df = compute_outlier_col(df)
    df = df[(df['Score'] > min_score) | (df['Is_outlier'])]
    return df
### END SOLUTION

main(filename="./22-basic-pandas-practice.csv", min_score=7)