# Pandas Spilt-Apply-Combine Practice

We will use 'IMDB-Movie-Data' opensource data to learn more about pandas. This dataset contains 1000 rows of data in 12 columns. It contains data about movies and shows on netflix.

## Import Dataset and Get the initial overview

In [2]:
import pandas as pd

In [35]:
data = pd.read_csv('IMDB-Movie-Data.csv', index_col=False)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [6]:
data.shape

(1000, 12)

In [7]:
data.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [8]:
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

## Task A

We need to find out the top FIVE movie genres in terms of average ratings. Here, each movie has multiple genres, but we will focus on the primary genre of the movies. By primary genre, we refer to the first entry of the `Genre` column.

Our final dataset (transformed from the original), must present this information of the 5 genres that have the best average ratings.

Things to consider:
* Need to create a separate column, `primary_genre` with the first entry from the `Genre` column
* Only consider those genres that have at least 10 or more movies while calculating the average ratings.

If all goes well your solution should return the following data frame:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>primary_genre</th>
      <th>avg_rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Animation</td>
      <td>7.324490</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Biography</td>
      <td>7.318750</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Drama</td>
      <td>6.954872</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Adventure</td>
      <td>6.908000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Mystery</td>
      <td>6.876923</td>
    </tr>
 </tbody>
</table>

In [ ]:
## Write your solution here

## Task B

At this stage, we need to identify the directors with highest number of movies for each movie success categories. Movie success categories are defined as follows: if a movie's revenue (in million) is more than 300, it will be a `Blockbuster`. Similarly, if a movie's revenue is between 200 (inclusive) and 300, it will be considered as `Super Hit`, if the revenue is between 100 (inclusive) and 200, it will be a `Hit` Anything with revenue less than 100, will be considered as `Flop'.

Our final dataset must be transformed from the original dataset, and provide an answer to our question.

If all goes well your solution should return the following data frame:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>success_category</th>
      <th>director</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Blockbuster</td>
      <td>Jon Favreau</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Flop</td>
      <td>Paul W.S. Anderson</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Hit</td>
      <td>Paul Feig</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Super Hit</td>
      <td>David Yates</td>
    </tr>
 </tbody>
</table>

In [ ]:
## Write your solution here

## Task A Solution

In [74]:
def get_primary_genre(value):
    return value.split(",")[0]

In [75]:
data['Primary_Genre'] = data['Genre'].apply(get_primary_genre)
grouper = data.groupby(['Primary_Genre'])
tmp = []
for genre, group in grouper:
    if len(group) >= 3:
        avg_rating = group['Rating'].mean()
        tmp.append({'primary_genre': genre[0], 'avg_rating': avg_rating})

df_tmp = pd.DataFrame(tmp).reset_index(drop=True)
df_tmp.sort_values(by='avg_rating', ascending=False, inplace=True)
df_tmp.head().reset_index(drop=True)

  primary_genre  avg_rating
0     Animation    7.324490
1     Biography    7.318750
2         Drama    6.954872
3     Adventure    6.908000
4       Mystery    6.876923

## Task B Sloution

In [69]:
def define_category(value):
    revenue = float(value)
    if revenue > 300:
        return 'Blockbuster'
    elif revenue <= 300 and revenue >=200:
        return 'Super Hit'
    elif revenue >=100 and revenue < 200:
        return 'Hit'
    else:
        return 'Flop'

In [73]:
data['success_category'] = data['Revenue (Millions)'].apply(define_category)
tmp = []
for category,group in data.groupby(['success_category']):
    sub_tmp = []
    sub_grouper = group.groupby('Director')
    for item, sub_group in sub_grouper:
        item_pop = len(sub_group)
        sub_tmp.append({'Director': item, 'movie_count': item_pop})
    sub_df = pd.DataFrame(sub_tmp)
    sub_df.sort_values(by='movie_count', ascending=False, inplace=True)
    top_director = sub_df.reset_index().loc[0]['Director']
    tmp.append({'success_category': category[0], 'director': top_director})
df = pd.DataFrame(tmp)
df

  success_category            director
0      Blockbuster         Jon Favreau
1             Flop  Paul W.S. Anderson
2              Hit           Paul Feig
3        Super Hit         David Yates