# Pandas Spilt-Apply-Combine Practice

We will use 'IMDB-Movie-Data' opensource data to learn more about pandas. This dataset contains 1000 rows of data in 12 columns. It contains data about movies and shows on netflix.

## Import Dataset and Get the initial overview

In [2]:
import pandas as pd

In [12]:
data = pd.read_csv('IMDB-Movie-Data.csv', index_col=False)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [6]:
data.shape

(1000, 12)

In [7]:
data.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [8]:
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

## Problem

We need to find out the top FIVE movie genres in terms of average ratings. Here, each movie has multiple genres, but we will focus on the primary genre of the movies. By primary genre, we refer to the first entry of the `Genre` column.

Our final dataset (transformed from the original), must present this information of the 5 genres that have the best average ratings.

Things to consider:
* Need to create a separate column, `primary_genre` with the first entry from the `Genre` column
* Only consider those genres that have at least 10 or more movies while calculating the average ratings.

If all goes well, your end solution should return the following data frame:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>primary_genre</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Animation</td>
      <td>7.324490</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Biography</td>
      <td>7.318750</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Drama</td>
      <td>6.954872</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Adventure</td>
      <td>6.908000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Mystery</td>
      <td>6.876923</td>
    </tr>
 </tbody>
</table>

### Task A

Implement the following function, `get_primary_genre,` which takes genre entries as a parameter and returns the first entry as the primary genre. Then, apply this function to the data frame to create a new column, `primary_genre`.

In [44]:
## Write your solution here
def get_primary_genre(value):
    ...

In [46]:
data['Primary_Genre'] = ...

### Task B

Implement the function `filter_genre_by_movie_count`, which takes a dataframe as in input and return a list containing the primary genre names where each genre has more than 10 movies.

In [47]:
def filter_genre_by_movie_count(df):
    ...

In [24]:
filtered_genres = filter_genre_by_movie_count(data)

### Task C

Implement the following function `sort_by_avg_rating`, which takes `filtered_genres` and the dataframe as input. The function should 
* filter the dataframe based on the `filtered_genres`
* apply `groupby` to group the dataframe by genre name
* calculate the mean rating of each group
* return the sorted dataframe with top five entries

In [49]:
def sort_by_avg_rating(filtered_genres, data):
    ...

In [43]:
sort_by_avg_rating(filtered_genres, data)

                 Rating
Primary_Genre
Action         6.592491
Adventure      6.908000
Animation      7.324490
Biography      7.318750
Comedy         6.493143

## Solution

### Task A

In [45]:
def get_primary_genre(value):
    return value.split(",")[0]

### Task B

In [48]:
def filter_genre_by_movie_count(df):
    genre_count = data.groupby(['Primary_Genre']).count()['Genre']
    filtered_ = list(genre_count[genre_count>10].index)

    return filtered_

### Task C

In [50]:
def sort_by_avg_rating(filtered_genres, data):
    filtered_df = data[data['Primary_Genre'].isin(filtered_genres)]
    new_df = filtered_df.groupby(['Primary_Genre'])['Rating'].mean().to_frame()
    return new_df.head()